<!DOCTYPE html>

<html lang="en">

    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This weather app was built with</p>

            {{!-- Node.js --}}

            {{!-- Express --}}

            {{!-- Handlebars.js / hbs --}}
            
            {{!-- Mapbox --}}

            {{!-- Dark Sky --}}


            {{!--  --}}

            {{!--  --}}

            {{!-- handlebars --}}

            
        </div>

        {{>footer}}
    </body>

</html>