<!DOCTYPE html>

<html lang="en">

    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/images/monkey.jpg" alt="Monkey">
        </div>

        {{>footer}}
    </body>

</html>