<footer>
    <p>Created by {{name}}</p>
    <a href="https://github.com/mezzanine510/node-weather-app" target="_blank">
        <img class="github-icon" src="/images/github-icon.png" alt="Github">
    </a>
</footer>