@font-face {
    font-family: 'Office Code Pro D';
    /* src: url('../fonts/OfficeCodeProD-Regular.eot'); */
    src: local('Office Code Pro D'), url('../../public/fonts/OfficeCodeProD-Regular.eot');
}

body {
    color: #184875;
    background-color: #ffffe0;
    font-size: 18px;
    font-family: 'Office Code Pro D', monospace;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
}

header h1 {
    margin-bottom: 28px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

footer {
    color: #888888;
    border-top: 1px solid #e6e6e6;
    text-align: center;
}

h1 {
    font-size: 72px;
}

a:hover {
    color: #03be03;
}

form {
    text-align: center;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    /* transition: all 0.4s ease; */
    outline-color: rgba(0, 0, 0, 0);
    margin: auto;
    color:  #184875;
}

input:focus {
    outline-color: rgb(3, 190, 3, 1);
    transition: all 0.25s ease;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #184875;
    color: white;
    padding: 8px;
}

button:hover {
    color: rgb(3, 190, 3);
    transition: all 0.25s ease;
}

.main-content {
    flex-grow: 1;
}

.github-icon {
    width: 28px;
    margin-bottom: 8px;
}

#search-status {
    opacity: 0;
    color: #03be03;
    text-align: center;
    transition: color 0.25s ease;
    transition: opacity 1s ease;
}

#temperature {
    color: #184875;
    font-size: 96px;
    text-align: center;
    opacity: 1;
    transition: all 0.75s ease;
}

#temperature-location {
    color: #03be03;
    font-weight: bold;
    text-align: center;
    transition: all 0.75s ease;
}

#temperature-summary {
    opacity: 0;
    transition: all 0.75s ease;
}

/* Mobile */
@media only screen and ( max-device-width: 1024px ) {
    header {
        margin-bottom: 90px;
    }

    input, button {
        padding: 20px;
    }

    input, select, textarea, button {
        font-family: inherit;
        font-size: inherit;
    }

    #message-3 {
        float: left; /* firefox */
    }

    .github-icon {
        width: 56px;
        padding-bottom: 16px;
    }

    .github-link {
        margin-bottom: 16px;
    }
}