@font-face {
    font-family: 'Office Code Pro D';
    /* src: url('../fonts/OfficeCodeProD-Regular.eot'); */
    src: local('Office Code Pro D'), url('../../public/fonts/OfficeCodeProD-Regular.eot');
}

body {
    color: #184875;
    background-color: #ffffe0;
    font-family: 'Office Code Pro D', monospace;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
}

.main-content {
    flex-grow: 1;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    text-align: center;
}


h1 {
    color: #184875;
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

form {
    text-align: center;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    /* transition: all 0.4s ease; */
    outline-color: rgba(0, 0, 0, 0);
    margin: auto;
    color:  #184875;
}

input:focus {
    outline-color: rgb(3, 190, 3, 1);
    transition: all 0.25s ease;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #184875;
    color: white;
    padding: 8px;
}

button:hover {
    color: rgb(3, 190, 3);
    transition: all 0.25s ease;
}

.portrait {
    max-width: 500px;
}

.github-icon {
    width: 28px;
}

/* Mobile */
@media only screen and ( max-device-width: 1024px ) {
    body {
        font-size: 32px;
        max-width: 90%;
    }

    header {
        text-align: center;
        margin-bottom: 90px;
    }

    footer {
        text-align: center;
    }

    input, button {
        padding: 20px;
    }

    input, select, textarea, button {
        font-family: inherit;
        font-size: inherit;
    }

    #message-1 {
        float: left;
    }

    #message-2 {
        float: left;
    }

    .github-icon {
        width: 56px;
    }
}